.vs/Drag-DropInventory/v15/Server/sqlite3/db.lock
Temp/UnityLockfile
.vs
.vs
Temp
.vs/Drag-DropInventory/v15/Server/sqlite3/storage.ide-wal
.vs/Drag-DropInventory/v15/Server/sqlite3/storage.ide-wal
.vs
*.ide-wal
*.ide
